################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GoogleAnalyticsAPIProject/config/applicationhost.config
/.vs/GoogleAnalyticsAPIProject/DesignTimeBuild/.dtbcache.v2
/.vs/GoogleAnalyticsAPIProject/FileContentIndex/0060cb04-36ec-4b89-8104-e0438a2152cd.vsidx
/.vs/GoogleAnalyticsAPIProject/FileContentIndex/753203f3-3fd3-42af-ad15-7d6b4055e695.vsidx
/.vs/GoogleAnalyticsAPIProject/FileContentIndex/967ce77f-abe5-48ec-be04-36cd956052dc.vsidx
/.vs/GoogleAnalyticsAPIProject/FileContentIndex/b9e83ac5-eba6-49c0-8487-12e94a682388.vsidx
/.vs/GoogleAnalyticsAPIProject/FileContentIndex/c8123005-8f61-433e-b521-076dc30a3aa7.vsidx
/.vs/GoogleAnalyticsAPIProject/v17/.futdcache.v2
/.vs/GoogleAnalyticsAPIProject/v17/.suo
/.vs/GoogleAnalyticsAPIProject/v17/DocumentLayout.backup.json
/.vs/GoogleAnalyticsAPIProject/v17/DocumentLayout.json
/.vs/ProjectEvaluation/googleanalyticsapiproject.metadata.v9.bin
/.vs/ProjectEvaluation/googleanalyticsapiproject.projects.v9.bin
/.vs/ProjectEvaluation/googleanalyticsapiproject.strings.v9.bin
/GoogleAnalyticsAPIProject/appsettings.Development.json
/GoogleAnalyticsAPIProject/appsettings.json
/GoogleAnalyticsAPIProject/client_secret.json
/GoogleAnalyticsAPIProject/Controllers/AnalyticsController.cs
/GoogleAnalyticsAPIProject/Controllers/WeatherForecastController.cs
/GoogleAnalyticsAPIProject/GoogleAnalyticsAPIProject.csproj
/GoogleAnalyticsAPIProject/GoogleAnalyticsAPIProject.csproj.user
/GoogleAnalyticsAPIProject/GoogleAnalyticsAPIProject.http
/GoogleAnalyticsAPIProject/Model.cs
/GoogleAnalyticsAPIProject/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GoogleAnalyticsAPIProject/obj/Debug/net8.0/GoogleAnalyticsAPIProject.AssemblyInfo.cs
/GoogleAnalyticsAPIProject/obj/Debug/net8.0/GoogleAnalyticsAPIProject.AssemblyInfoInputs.cache
/GoogleAnalyticsAPIProject/obj/Debug/net8.0/GoogleAnalyticsAPIProject.assets.cache
/GoogleAnalyticsAPIProject/obj/Debug/net8.0/GoogleAnalyticsAPIProject.csproj.AssemblyReference.cache
/GoogleAnalyticsAPIProject/obj/Debug/net8.0/GoogleAnalyticsAPIProject.GeneratedMSBuildEditorConfig.editorconfig
/GoogleAnalyticsAPIProject/obj/Debug/net8.0/GoogleAnalyticsAPIProject.GlobalUsings.g.cs
/GoogleAnalyticsAPIProject/obj/GoogleAnalyticsAPIProject.csproj.nuget.dgspec.json
/GoogleAnalyticsAPIProject/obj/GoogleAnalyticsAPIProject.csproj.nuget.g.props
/GoogleAnalyticsAPIProject/obj/GoogleAnalyticsAPIProject.csproj.nuget.g.targets
/GoogleAnalyticsAPIProject/obj/project.assets.json
/GoogleAnalyticsAPIProject/obj/project.nuget.cache
/GoogleAnalyticsAPIProject/Program.cs
/GoogleAnalyticsAPIProject/Properties/launchSettings.json
/GoogleAnalyticsAPIProject/Services/GoogleAnalyticsService.cs
/GoogleAnalyticsAPIProject/WeatherForecast.cs
/GoogleAnalyticsAPIProject.sln
